// If you want to override variables do it here
@import "variables";
@import "shared";

// Import styles
@import "~@coreui/coreui/scss/coreui";
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
@import "~select2/src/scss/core.scss";
@import "~select2-bootstrap4-theme/src/select2-bootstrap4.scss";

// If you want to add something do it here
@import "custom";

body {
  background-color: $white;
}

.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}

label.required:before {
  content: '* ';
  color: red;
}

legend.required:before {
  content: '* ';
  color: red;
}

.btn-save {
  min-width: 100px;
}

.btn-close {
  min-width: 100px;
}

.col-auto {

  @include for-size(phone-only) {
      width: 100%;
      text-align: center;
  }
}

.c-app {
  display: flex;
  flex-direction: column;
  background-color: $white;
}

.page-content__title-container {
  border-bottom: 1px solid $brand-border-color;
  padding: 5px 0;
  margin-bottom: 15px;
}

.page-content__title {
  font-size: 20px;
}

.c-tab-pills {
  margin-bottom: 30px;

  .nav-link {
    padding: 0 13px;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    border-radius: 5px;
  }

}

.c-tab-pills-vertical {
  .nav-link {
    border-radius: 0;
    color: $dark-gray-200;

    &.active {
      background-color: $white;
      color: $brand-primary;
      font-weight: 500;
      border-bottom: 3px solid $brand-primary;
    }
  }

}

.btn {
  &.btn-primary {
    color: $white !important;
  }
}

.c-wrapper:not(.c-wrapper-fluid) {
  height: 100vh;
}

.c-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.c-wrapper {
  will-change: auto;
  -webkit-transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, -webkit-transform 0.25s, -webkit-box-flex 0.25s;
  transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, -webkit-transform 0.25s, -webkit-box-flex 0.25s;
  transition: transform 0.25s, margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
  transition: transform 0.25s, margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s, -webkit-transform 0.25s, -webkit-box-flex 0.25s, -ms-flex 0.25s;
}

@media (min-width: 768px){
  .c-main > .container-fluid {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
