// If you want to override variables do it here
@import "variables";
@import "shared";

// Import styles
//@import "~@coreui/coreui/scss/coreui";
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
// @import "~select2/src/scss/core.scss";
// @import "~select2-bootstrap4-theme/src/select2-bootstrap4.scss";
@import "~vue-select/src/scss/vue-select.scss";

// If you want to add something do it here
@import "custom";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: $bluish-gray;
  text-align: left;
  background-color: $white;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: $bluish-gray;
  border-collapse: collapse;
}

.table-secondary, .table-secondary > th, .table-secondary > td {
  background-color: #f1f2f4;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #d8dbe0;
}

.table th, .table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #d8dbe0 !important;
  background-color: $white;
}

.table tr {
  
}

.table tr {
  &:nth-child(even) {
    td {
      background-color: #f7f7f7;
    }
  }
}

.border {
  border: 1px solid #d8dbe0 !important;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #768192;
  vertical-align: middle;
  //background: $white url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23636f83' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) no-repeat right 0.75rem center/8px 10px;
  border: 1px solid #d8dbe0;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-control-label::before, .custom-file-label, .custom-select {
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  z-index: 50;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 0.875rem;
  color: $bluish-gray;
  text-align: left;
  list-style: none;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid #d8dbe0;
  border-radius: 0.25rem;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5rem 1.25rem;
  clear: both;
  font-weight: 400;
  color: $bluish-gray;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h6, .h6 {
  font-size: 0.875rem;
}

h5, .h5 {
  font-size: 1.09375rem;
}

label {
  margin-bottom: 5px;
  color: $dark-gray-500;
}

.b-avatar .b-avatar-text {
  text-transform: uppercase;
  white-space: nowrap;
}

.b-avatar .b-avatar-custom, .b-avatar .b-avatar-text, .b-avatar .b-avatar-img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.b-avatar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: middle;
  font-size: inherit;
  font-weight: 400;
  line-height: 1;
  max-width: 100%;
  max-height: auto;
  text-align: center;
  overflow: visible;
  position: relative;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.rounded {
  border-radius: 0.25rem !important;
}


.badge {
  text-transform: uppercase;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  font-size: 10px;

  &:before {
    content: ' ';
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: 1px solid $white;
    left: 2px;
    margin: 0 3px 0 0;
  }
}

.badge-primary {
  background-color: $light-blue-20;
  border: 1px solid $brand-primary;
  color: $brand-primary;

  &:before {
    background-color: $brand-primary;
  }
}

.badge-success {
  background-color: $light-green;
  border: 1px solid $green;
  color: $green;
  display: inline-flex;
  align-items: center;

  &:before {
    background-color: $green;
  }
}

.badge-warning {
  background-color: $light-yellow;
  border: 1px solid $yellow;
  color: $yellow;

  &:before {
    background-color: $yellow;
  }
}

.badge-secondary {
  color: $bluish-gray;
  background-color: #ced2d8;
}


.btn {
  display: inline-block;
  font-weight: 400;
  color: $bluish-gray;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6.5px 20px;
  font-size: 14px;
  line-height: 1.5;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

// button.btn {
//   padding: 6.5px 20px;
//   min-width: 100px !important;
// }

button.btn-dark {
  border: 1px solid $dark-gray-200;
}

button.btn.btn-primary {
  color: $white !important;
}

button.btn-primary {
  //color: $bluish-gray;
  background-color: $brand-primary;
  border-color: $brand-primary;
}

button.btn-outline-primary {
  color: $brand-primary;
  border-color: $brand-primary;
}

button.btn-outline-danger {
  color: $brand-danger;
  border-color: $brand-danger;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #768192;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d8dbe0;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}

label.required::after {
  content: ' *';
}

legend.required:before {
  content: '* ';
}

.btn-save {
  min-width: 100px;
}

.btn-close {
  min-width: 100px;
}

.col-auto {

  @include for-size(phone-only) {
      width: 100%;
      text-align: center;
  }
}

.c-app {
  display: flex;
  flex-direction: column;
  background-color: $white;
}

.page-content__title-container {
  border-bottom: 1px solid $brand-border-color;
  padding: 5px 0;
  margin-bottom: 15px;
}

.page-content__title {
  font-size: 20px;
}

.c-tab-pills {
  margin-bottom: 30px;

  .nav-link {
    padding: 0 13px;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    border-radius: 5px;
  }

}

.c-tab-pills-vertical {
  .nav-link {
    border-radius: 0;
    color: $dark-gray-200;

    &.active {
      background-color: $white;
      color: $brand-primary;
      font-weight: 500;
      border-bottom: 3px solid $brand-primary;
    }
  }

}

.btn {
  &.btn-primary {
    color: $white !important;
  }
}

.c-wrapper:not(.c-wrapper-fluid) {
  height: 100vh;
}

.c-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f7f7f7;
}

.c-wrapper {
  will-change: auto;
  -webkit-transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, -webkit-transform 0.25s, -webkit-box-flex 0.25s;
  transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, -webkit-transform 0.25s, -webkit-box-flex 0.25s;
  transition: transform 0.25s, margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
  transition: transform 0.25s, margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s, -webkit-transform 0.25s, -webkit-box-flex 0.25s, -ms-flex 0.25s;
}

.c-wrapper:not(.c-wrapper-fluid) .c-body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  //margin-left: 224px;

  @include for-size(tablet-landscape-down) {
    margin-left: 0;
  }
}

.c-page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f7f7f7;
}

.c-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: $light-gray-50;
}

.c-main {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 0;
  padding-top: 2rem;
  background-color: $light-gray-50;
}

@media (min-width: 768px){
  .c-main > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.btn-invisible {
  border: 0;
  background: none;
  outline: 0;

  &:focus {
    outline: 0;
  }

  &:active {
    outline: 0;
  }
}

.active-view__header-details {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  justify-content: center;
}

.active-view__header-name {
  margin: 0;
  font-weight: 500;
}

.active-view__header-email {
  margin: 0;
  color: $light-text-color;
  font-size: 13px;
}

.active-view__header-date {
  margin: 0;
  color: $light-text-color;
  margin-left: auto;
  font-size: 13px;
  margin-right: 30px;
}

.active-view__quick-links-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.active-view__header-details-container {
  padding: 7px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  border-left: 1px solid $brand-border-color;
}

.c-table {
  thead {
    th {
      padding: 8px;
      text-transform: uppercase;
      font-size: 13px;
      color: $dark-gray-500;
      background-color: $light-gray-50;
    }
  }

  tbody {
    tr:nth-child(even) {
      background-color: $light-gray-50;
    }
  }
}

.c-pagination {
  .page-item {
    margin: 3px;
  }

  .page-link {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px !important;
    border-color: $brand-border-color !important;
  }

  span.page-link {
    font-size: 16px;
    font-weight: 500;
  }

  button.page-link {
    font-size: 12px;
  }
}

.icon-tooltip {
  height: 14px;
  width: 14px;
  color: rgb(68, 185, 224);
  margin: 0 0 -1px 4px;
}

.c-table thead th {
  color: $bluish-gray !important;
  padding: 4px 7px !important;
}

.c-table tbody td {
  padding: 6px !important;
}

.modal-footer {
  background-color: $light-gray-100;
}

.modal-title {
  font-size: 22px;
  color: $dark-gray-500;
}

.modal-body__container {
  padding: 0 !important;
}

.form-group {
  margin-bottom: 10px;
}


// ************ utilities ***************
.r-align-text {
  text-align: right;
}

.extra-large-2-text, .xxl-text {
  font-size: 26px;
  margin: 0;
}

.extra-large-text, .xl-text {
  font-size: 24px;
  margin: 0;
}

.large-text, .l-text {
  font-size: 22px;
  margin: 0;
}

.medium-text, .m-text {
  font-size: 20px;
  margin: 0;
}

.small-text, .sm-text {
  font-size: 15px;
  margin: 0;
}

.extra-small-text, .xs-text {
  font-size: 13px;
  margin: 0;
}

// text colors
.dark-color {
  color: $dark-gray-600;
}

.normal-color {
  color: $dark-gray-500;
}

.light-color {
  color: $dark-gray-200;
}

.lighter-color {
  color: $dark-gray-100;
}

// font colors
.bolder-weight {
  font-weight: 600;
}

.bold-weight {
  font-weight: 500;
}

.normal-weight {
  font-weight: normal;
}


// margin
.m-b-5 {
  margin-bottom: 5px;
}

.modal-field-container {
  display: flex;
  flex-direction: column;
  max-height: 68vh;
  overflow: auto;
  padding: 20px 25px;
}