// If you want to override variables do it here
@import "variables";
@import "shared";

// Import styles
@import "~@coreui/coreui/scss/coreui";
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
@import "~select2/src/scss/core.scss";
@import "~select2-bootstrap4-theme/src/select2-bootstrap4.scss";

// If you want to add something do it here
@import "custom";

.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}

label.required:before {
  content: '* ';
  color: red;
}

legend.required:before {
  content: '* ';
  color: red;
}

.btn-save {
  min-width: 100px;
}

.btn-close {
  min-width: 100px;
}

.col-auto {

  @include for-size(phone-only) {
      width: 100%;
      text-align: center;
  }
}